.content{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: rgba(255, 255, 255, 0.1);
    /* font-size: 2em; */
    /* color: rgba(255, 255, 255, 0.7); */
    
}

label{
    color: rgba(255, 255, 255, 0.7);
    position: relative;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 4em;
}
.right-cont{
    background: transparent;
    /* border: 2px solid white; */
    overflow-x: hidden;
    height: 400px;
    
    align-items: center;
}
@media only screen and (max-width: 1200px){    
    .right-cont{
        margin-right: 60px;
        height: 500px;
        position: relative;
        width: 100%;
    }
    .next-btn{
        position: absolute;
    }
    .right-cont{
        position: relative;
    }
    #back-btn{
        position: absolute;
        left:0;
        margin-left: -60px;
        /* top: 0; */
        bottom: 0;
        /* left: 10px; */
    }

}
@media only screen and (max-width:500px){
    label{
        font-weight: 500px;
        font-size: 3em;
    }
}
.left-content2{
    margin: auto;
    position: relative;
    width: 100%;
    
    height: 500px;
    
}

.input{
    font-size: 3em;
    background: transparent;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(77, 55, 55, 0.5);
    border-top: 2px solid rgb(184, 9, 9);
    border-left: 2px solid rgb(184, 9, 9);
    border-right: 4px solid rgb(184, 9, 9);
    border-bottom: 4px solid rgb(184, 9, 9);
    /* padding-left: 10px; */
    text-align: center;
    /* height: 6em; */
    width: 60%;
    margin-bottom: 50px;
    font-family: "Inconsolata", monospace;
    font-weight: 400;
}

/* select{
    color: black;
} */
#slider{
    /* border: 2px solid green; */
    display: flex;
    overflow-x: hidden;
    transition: 0.5s;
    overflow-y: hidden;
}
.li{
    height: 300px;
    width: 100%;
    border: 5px solid rgb(184, 9, 9);
    /* box-shadow: 10px 10px rgba(77, 55, 55, 0.5); */
    margin: 0px 50px;
    /* background: transparent; */
    margin-top: 70px;
    align-items: center;
    border-radius: 20px;
    /* padding-bottom: 100px; */
    /* overflow-x: hidden; */
}


.next-btn{
    background-color: rgb(184, 9, 9);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgb(184, 9, 9);
    /* border-bottom: 2px solid rgb(114, 1, 1);
    border-top: 2px solid rgb(114, 1, 1);
    border-left: 2px solid rgb(114, 1, 1); */
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 120px;
    height: 45px;
    font-size: 2em;
    box-shadow: 0 7px rgba(255, 255, 255, 0.3);
}

.next-btn:hover{
    background-color: rgb(114, 1, 1);
    border: 2px solid rgb(114, 1, 1);
    transition: 0.5s;
}

.next-btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

#back-btn{
    background-color: rgb(184, 9, 9);
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 110px;
    z-index: 2;
}
#back-btn:hover{
    /* box-shadow: 5px 0px rgba(255, 255, 255, 0.2); */
    transition: 0.5s;
    background-color: rgb(114, 1, 1);
}


.nutrition-img{
    border-radius: 20px;
}
.text2{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.select{
    width: 60%;
    /* height: 60px; */
    z-index: 100;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    margin-bottom: 100px;
    /* display: none; */
}
.option{
    color: black;
    background: transparent;
    z-index: 100;
    width: 200px;
}
#option{
    z-index: 100;
}
/* .bulk-cut{
    display: none;
} */

/* .loss-label{
    display: none;
} */
/* #bulk-cut{
    display: none;
} */